
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Ratings", "Index", "Rating")</p>
<p>@Html.ActionLink("Users", "Index", "User")</p>
<p>@Html.ActionLink("Beers", "Index", "Beer")</p>